# General tasks and directions

- Add your name, today's date, and the assignment title to the designated cell.
- Write your answers in the cells that contain `Add your answer here.` line.
- Write your code in the cells that contain `# Add your implementation here.` line.
- Use autograder tests that are provided for your convenience.
- Don't change or delete any provided code (including [cell magic](https://ipython.readthedocs.io/en/stable/interactive/magics.html) such as `%%capture output`).

## Add your name, today's date, and the assignment title

author: Muhammad Mughees Akbar Warraich

date: March 1 2023

assignment: Exercise 2

Resources used: 
    
#https://www.statology.org/or-operator-in-pandas/ (or operator)
#https://www.geeksforgeeks.org/how-to-reverse-the-column-order-of-the-pandas-dataframe/ (how to reverst a column in pandas)
#https://www.skytowner.com/explore/getting_shortest_and_longest_strings_in_pandas_dataframe (link for resource to find the shortest and longest string in a column)
#https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html (starts with function)

# Fortune 1000 (2022)

In [31]:
%config Completer.use_jedi = False

import numpy as np
import pandas as pd

from pandas import Series, DataFrame

total_points = 0

In [32]:
df = pd.read_csv("fortune1000.csv")
df

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Vizio Holding,996,0.0,2124.0,-39.4,800.0,Industrials,Irvine,CA,no,yes,no,no,,William W. Wang,https://www.vizio.com,VZIO,1705.1
996,1-800-Flowers.com,997,0.0,2122.2,118.7,4800.0,Retailing,Jericho,NY,no,no,no,yes,,Christopher G. McCann,https://www.1800flowers.com,FLWS,830
997,Cowen,998,0.0,2112.8,295.6,1534.0,Financials,New York,NY,no,no,no,yes,,Jeffrey Solomon,https://www.cowen.com,COWN,1078
998,Ashland,999,0.0,2111.0,220.0,4100.0,Chemicals,Wilmington,DE,no,no,no,yes,,Guillermo Novo,https://www.ashland.com,ASH,5601.9
999,DocuSign,1000,0.0,2107.2,-70.0,7461.0,Technology,San Francisco,CA,no,no,no,no,,Allan C. Thygesen,https://www.docusign.com,DOCU,21302.8

In [33]:
assert _.shape == (1000, 18)

## Number of employees at Kroger

**Task 0**

You should work with the same `DataFrame` throughout the whole exercise but may add new calculted columns, if needed.
Assertions rely on the result of the previous cell execution (`_`), so you don't have to print anything but rather make sure the result of all operations in your solution matches the expected.

Try not to mutate `df` and restart the notebook from the top if necessary.

In [34]:
# Add your implementation here.
df[df.company == "Kroger"]["num. of employees"].iloc[0]

420000.0

In [35]:
assert _ == 420000
total_points += 2

## Total market capitalization of all companies

In [36]:
# Add your implementation here.

df['Market Cap']=pd.to_numeric(df['Market Cap'], errors='coerce')
df['Market Cap'].sum()

38462044.5

In [37]:
assert _ == 38462044.5
total_points += 2

## Total number of people employed by all companies

In [38]:
# Add your implementation here.

df['num. of employees'].sum()

35752880.0

In [39]:
assert _ == 35752880.0
total_points += 2

## Number of unique sectors

In [40]:
# Add your implementation here.
df.sector.nunique()

21

In [41]:
assert _ == 21
total_points += 2

## All unique cities in California

In [42]:
# Add your implementation here.
df[df.state == "CA"]["city"].unique()

array(['Cupertino', 'Mountain View', 'San Ramon', 'Menlo Park',
       'San Francisco', 'Santa Clara', 'Burbank', 'Palo Alto', 'San Jose',
       'San Diego', 'Fremont', 'Los Gatos', 'Long Beach', 'Foster City',
       'Thousand Oaks', 'Dublin', 'Rosemead', 'Los Angeles',
       'Woodland Hills', 'Newport Beach', 'Santa Ana', 'Santa Monica',
       'San Mateo', 'Glendale', 'El Segundo', 'Oakland', 'Milpitas',
       'Redwood City', 'Manhattan Beach', 'Beverly Hills', 'Sunnyvale',
       'Corona', 'Irvine', 'Pleasanton', 'Santa Rosa', 'Sylmar',
       'Westlake Village', 'San Rafael', 'Foothill Ranch', 'Corte Madera',
       'Watsonville', 'Walnut Creek', 'Pasadena', 'Carlsbad',
       'Emeryville', 'Calabasas Hills', 'Hercules', 'Brea',
       'San Juan Capistrano', 'Goleta'], dtype=object)

In [43]:
assert len(list(_)) == 50
total_points += 2

## All companies from Iowa

In [44]:
# Add your implementation here.
df[df.state == "IA"]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
255,Principal Financial,256,-50.0,14262.7,1710.6,18600.0,Financials,Des Moines,IA,no,no,no,yes,206.0,Daniel J. Houston,https://www.principal.com,PFG,19176.7
444,Casey's General Stores,445,-74.0,7654.2,312.9,27583.0,Retailing,Ankeny,IA,no,no,no,yes,371.0,Darren M. Rebelez,https://www.caseys.com,CASY,7354.4
726,American Equity Investment Life Holding,727,0.0,3689.5,474.0,850.0,Financials,West Des Moines,IA,no,no,no,yes,,Anant Bhalla,https://www.american-equity.com,AEL,3869.2
788,Renewable Energy Group,789,0.0,3244.1,213.8,1196.0,Energy,Ames,IA,no,no,yes,yes,,Kevin E. Lucke,https://www.regi.com,NaN,3056.2
982,HNI,983,0.0,2184.4,59.8,8000.0,Household Products,Muscatine,IA,no,no,no,yes,,Jeffrey D. Lorenger,https://www.hnicorp.com,HNI,1568.7

In [45]:
assert list(_["company"]) == ["Principal Financial",
                              "Casey's General Stores",
                              "American Equity Investment Life Holding",
                              "Renewable Energy Group",
                              "HNI"]
total_points += 2

## All companies from Illinois in the Telecommunications sector

In [46]:
# Add your implementation here.

df[(df.state == "IL") & (df.sector == "Telecommunications")]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
572,Telephone & Data Systems,573,0.0,5329.0,156.0,8800.0,Telecommunications,Chicago,IL,no,no,no,yes,,LeRoy T. Carlson Jr.,https://www.tdsinc.com,TDS,2163.4

In [47]:
assert list(_["company"]) == ["Telephone & Data Systems"]
total_points += 2

## All newcomer companies with female CEO

In [48]:
# Add your implementation here.
df[(df.newcomer == "yes") & (df.ceo_woman == "yes")]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
394,Jackson Financial,395,0.0,8848.0,3183.0,3150.0,Financials,Lansing,MI,yes,no,yes,yes,,Laura L. Prieskorn,https://www.jackson.com,JXN,3895.1

In [49]:
assert list(_["company"]) == ["Jackson Financial"]
total_points += 2

## All profitable newcomers from Ohio or Oklahoma

In [50]:
# Add your implementation here.
df[(df.newcomer == "yes") & (df.profitable == "yes") & ((df.state == "OH")|(df.state == "OK"))]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
170,Cleveland-Cliffs,171,0.0,20444.0,2988.0,26000.0,Materials,Cleveland,OH,yes,no,no,yes,,C. Lourenco Goncalves,https://www.clevelandcliffs.com,CLF,16891.2
308,Devon Energy,309,0.0,12206.0,2813.0,1600.0,Energy,Oklahoma City,OK,yes,no,no,yes,,Richard E. Muncrief,https://www.devonenergy.com,DVN,39274.1
460,TravelCenters of America,461,0.0,7336.8,58.5,16540.0,Retailing,Westlake,OH,yes,no,no,yes,,Jonathan M. Pertchik,https://www.ta-petro.com,TA,637.5
479,Victoria's Secret,480,0.0,6784.6,646.4,24000.0,Retailing,Reynoldsburg,OH,yes,no,no,yes,,Martin P. Waters,https://www.victoriassecretandco.com,VSCO,4330.4

In [51]:
assert list(_["company"]) == ["Cleveland-Cliffs", 
                              "Devon Energy", 
                              "TravelCenters of America", 
                              "Victoria's Secret"]
total_points += 2

## Names of CEOs of all companies from Alabama

In [52]:
# Add your implementation here.
df[df.state == "AL"]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
488,Regions Financial,489,-55.0,6605.0,2521.0,19626.0,Financials,Birmingham,AL,no,no,no,yes,434.0,John M. Turner Jr.,https://www.regions.com,RF,20860.9
561,Vulcan Materials,562,0.0,5552.2,670.8,11912.0,Materials,Birmingham,AL,no,no,no,yes,,J. Thomas Hill,https://www.vulcanmaterials.com,VMC,24412.7
591,Encompass Health,592,0.0,5121.6,412.2,35681.0,Health Care,Birmingham,AL,no,no,no,yes,,Mark J. Tarr,https://www.encompasshealth.com,EHC,7071.1

In [53]:
assert list(_["CEO"]) == ["John M. Turner Jr.", "J. Thomas Hill", "Mark J. Tarr"]
total_points += 2

## Names of founder CEOs of all small (fewer than 10,000 employees) Technology companies not from California

In [54]:
# Add your implementation here.

df[(df.state != "CA") & (df['num. of employees'] < 10000) & (df.ceo_founder == "yes") & (df.sector == "Technology")]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
423,Zillow Group,424,0.0,8147.4,-527.8,8005.0,Technology,Seattle,WA,yes,yes,no,no,,Richard N. Barton,https://www.zillowgroup.com,ZG,12287.1
494,Compass,495,0.0,6421.0,-494.1,4775.0,Technology,New York,NY,yes,yes,no,no,,Robert L. Reffkin,https://www.compass.com,COMP,3358.8
757,Akamai Technologies,758,0.0,3461.2,651.6,8700.0,Technology,Cambridge,MA,no,yes,no,yes,,F. Thomson Leighton,https://www.akamai.com,AKAM,19210.0

In [55]:
assert list(_["CEO"]) == ["Richard N. Barton", "Robert L. Reffkin", "F. Thomson Leighton"]
total_points += 2

## All companies with the market capitalization of $1,000,000,000,000 or more

Note that market cap in the data file is given in millions of dollars.

In [56]:
# Add your implementation here.

df['Market Cap']=pd.to_numeric(df['Market Cap'], errors='coerce')
df[df['Market Cap'] >= 1000000]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717.0
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962.0
7,Alphabet,8,1.0,257637.0,76033.0,156500.0,Technology,Mountain View,CA,no,no,no,yes,9.0,Sundar Pichai,https://www.abc.xyz,GOOGL,1309359.0
13,Microsoft,14,1.0,168088.0,61271.0,181000.0,Technology,Redmond,WA,no,no,no,yes,15.0,Satya Nadella,www.microsoft.com,MSFT,1941033.0

In [57]:
assert list(_["company"]) == ["Amazon", "Apple", "Alphabet", "Microsoft"]
total_points += 2

## A company that climbed the highest in the ranking

In [58]:
# Add your implementation here.

df[df['rank_change']== df['rank_change'].max()]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
158,Blackstone,159,295.0,22577.1,5857.4,3795.0,Financials,New York,NY,no,yes,no,yes,454.0,Stephen A. Schwarzman,https://www.blackstone.com,BX,88907.2

In [59]:
assert list(_["company"]) == ["Blackstone"]
total_points += 2

## 3 profitable companies that dropped in the ranking the most

In [60]:
# Add your implementation here.

df[df.profitable == "yes"].sort_values("rank_change", ascending=False).tail(3)[::-1]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
434,Bath & Body Works,435,-178.0,7881.5,1333.5,32850.0,Retailing,Columbus,OH,no,no,yes,yes,257.0,Sarah E. Nash,https://www.bbwinc.com,BBWI,11419.9
379,VF Corp.,380,-117.0,9238.8,407.9,33600.0,Apparel,Denver,CO,no,no,no,yes,263.0,Steven Rendle,https://www.vfc.com,VFC,11620.0
337,Biogen,338,-110.0,10981.7,1556.1,9610.0,Health Care,Cambridge,MA,no,no,no,yes,228.0,Michel Vounatsos,https://www.biogen.com,BIIB,30950.4

In [61]:
assert list(_["company"]) == ["Bath & Body Works", "VF Corp.", "Biogen"]
total_points += 2

## All companies with fewer than 500 employees, sorted by their market cap from highest to lowest

In [62]:
# Add your implementation here.

df['Market Cap']=pd.to_numeric(df['Market Cap'], errors='coerce')

In [63]:
df[(df['num. of employees'] < 500)].sort_values("Market Cap", ascending=False)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
629,Welltower,630,0.0,4742.1,336.1,464.0,Financials,Toledo,OH,no,no,no,yes,,Shankh S. Mitra,https://www.welltower.com,WELL,43001.5
710,Ventas,711,0.0,3828.0,49.0,434.0,Financials,Chicago,IL,no,no,yes,yes,,Debra A. Cafaro,https://www.ventasreit.com,VTR,24676.2
855,Host Hotels & Resorts,856,0.0,2890.0,-11.0,160.0,Financials,Bethesda,MD,no,no,no,no,,James F. Risoleo,https://www.hosthotels.com,HST,13875.9
866,Annaly Capital Management,867,0.0,2836.2,2389.9,171.0,Financials,New York,NY,no,no,no,yes,,David L. Finkelstein,https://www.annaly.com,NLY,10281.0
445,A-Mark Precious Metals,446,49.0,7613.0,159.6,347.0,Wholesalers,El Segundo,CA,no,no,no,yes,495.0,Gregory N. Roberts,https://www.amark.com,AMRK,890.5

In [64]:
assert list(_["company"]) == ["Welltower", 
                              "Ventas", 
                              "Host Hotels & Resorts", 
                              "Annaly Capital Management", 
                              "A-Mark Precious Metals"]
total_points += 2

## Top 5 companies with the highest profit

In [65]:
# Add your implementation here.
df.sort_values("profit", ascending=False).head(5)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962.0
6,Berkshire Hathaway,7,-1.0,276094.0,89795.0,372000.0,Financials,Omaha,NE,no,no,no,yes,6.0,Warren E. Buffett,www.berkshirehathaway.com,BRKA,625468.0
7,Alphabet,8,1.0,257637.0,76033.0,156500.0,Technology,Mountain View,CA,no,no,no,yes,9.0,Sundar Pichai,https://www.abc.xyz,GOOGL,1309359.0
13,Microsoft,14,1.0,168088.0,61271.0,181000.0,Technology,Redmond,WA,no,no,no,yes,15.0,Satya Nadella,www.microsoft.com,MSFT,1941033.0
23,JPMorgan Chase,24,-5.0,127202.0,48334.0,271025.0,Financials,New York,NY,no,no,no,yes,19.0,James Dimon,www.jpmorganchase.com,JPM,336469.0

In [66]:
assert list(_["company"]) == ["Apple", "Berkshire Hathaway", "Alphabet", "Microsoft", "JPMorgan Chase"]
total_points += 2

## Bottom 5 companies by profit (i.e. highest losses)

In [67]:
# Add your implementation here.

df.sort_values("profit", ascending=True).head()[::-1]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
232,Cheniere Energy,233,95.0,15864.0,-2343.0,1550.0,Energy,Houston,TX,no,no,no,no,328.0,Jack A. Fusco,https://www.cheniere.com,LNG,35272.3
59,Boeing,60,-6.0,62286.0,-4202.0,142000.0,Aerospace & Defense,Chicago,IL,no,no,no,no,54.0,David L. Calhoun,www.boeing.com,BA,92372.0
913,WeWork,914,0.0,2570.1,-4439.0,4400.0,Financials,New York,NY,no,no,no,no,,Sandeep Mathrani,https://www.wework.com,WE,4937.4
8,McKesson,9,-2.0,238228.0,-4539.0,67500.0,Health Care,Irving,TX,no,no,no,no,7.0,Brian S. Tyler,www.mckesson.com,MCK,47377.0
47,General Electric,48,-10.0,74196.0,-6520.0,168000.0,Industrials,Boston,MA,no,no,no,no,38.0,H. Lawrence Culp Jr.,www.ge.com,GE,73458.0

In [68]:
assert list(_["company"]) == ["Cheniere Energy", "Boeing", "WeWork", "McKesson", "General Electric"]
total_points += 2

## Top 5 companies with the highest market capitalization

In [69]:
# Add your implementation here.


df['Market Cap']=pd.to_numeric(df['Market Cap'], errors='coerce')
df.sort_values('Market Cap', ascending=False).head(5)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962.0
13,Microsoft,14,1.0,168088.0,61271.0,181000.0,Technology,Redmond,WA,no,no,no,yes,15.0,Satya Nadella,www.microsoft.com,MSFT,1941033.0
7,Alphabet,8,1.0,257637.0,76033.0,156500.0,Technology,Mountain View,CA,no,no,no,yes,9.0,Sundar Pichai,https://www.abc.xyz,GOOGL,1309359.0
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717.0
64,Tesla,65,35.0,53823.0,5519.0,99290.0,Motor Vehicles & Parts,Austin,TX,no,yes,no,yes,100.0,Elon Musk,www.tesla.com,TSLA,763395.0

In [70]:
assert list(_["company"]) == ["Apple", "Microsoft", "Alphabet", "Amazon", "Tesla"]
total_points += 2

## Top 5 companies with the highest profit per employee

In [71]:
# Add your implementation here.

df["profit per employee"] = df["profit"]/ df["num. of employees"]
df.sort_values("profit per employee", ascending=False).head(5)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit per employee
866,Annaly Capital Management,867,0.0,2836.2,2389.9,171.0,Financials,New York,NY,no,no,no,yes,,David L. Finkelstein,https://www.annaly.com,NLY,10281.0,13.976023
194,Moderna,195,0.0,18471.0,12202.0,2700.0,Health Care,Cambridge,MA,yes,no,no,yes,,Stephane Bancel,https://www.modernatx.com,MRNA,69424.3,4.519259
32,Fannie Mae,33,-8.0,101543.0,22176.0,7400.0,Financials,Washington,DC,no,no,no,yes,25.0,David C. Benson,www.fanniemae.com,FNMA,3961.0,2.996757
478,Diamondback Energy,479,0.0,6797.0,2182.0,870.0,Energy,Midland,TX,yes,no,no,yes,,Travis D. Stice,https://www.diamondbackenergy.com,FANG,24320.0,2.508046
609,TPG,610,0.0,4976.4,2180.9,1013.0,Financials,Fort Worth,TX,no,no,no,yes,,Jon Winkelried,https://www.tpg.com,TPG,9304.9,2.152912

In [72]:
assert [c for c in _["company"]] == ["Annaly Capital Management",
                                     "Moderna",
                                     "Fannie Mae",
                                     "Diamondback Energy",
                                     "TPG"]
total_points += 2

## All companies with a founder serving as a CEO and a 1-character ticker

In [73]:
# Add your implementation here.
df[df.Ticker.apply(lambda x: len(str(x)))==1 & (df.ceo_founder == "yes")]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit per employee
274,Wayfair,275,-58.0,13708.0,-131.0,16681.0,Retailing,Boston,MA,no,yes,no,no,217.0,Niraj S. Shah,https://www.wayfair.com,W,11641.6,-0.007853

In [74]:
assert list(_["company"]) == ["Wayfair"]
total_points += 2

## All companies with a 5-character ticker

In [75]:
# Add your implementation here.
df[df.Ticker.apply(lambda x: len(str(x)))==5]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit per employee
7,Alphabet,8,1.0,257637.0,76033.0,156500.0,Technology,Mountain View,CA,no,no,no,yes,9.0,Sundar Pichai,https://www.abc.xyz,GOOGL,1309359.0,0.485834
27,Comcast,28,-2.0,116385.0,14159.0,189000.0,Telecommunications,Philadelphia,PA,no,no,no,yes,26.0,Brian L. Roberts,www.comcastcorporation.com,CMCSA,185069.0,0.074915
264,Qurate Retail,265,-49.0,14044.0,340.0,26745.0,Retailing,Englewood,CO,no,no,no,yes,216.0,David L. Rawlinson II,https://www.qurateretail.com,QRTEA,1807.4,0.012713
325,Liberty Media,326,0.0,11400.0,398.0,6886.0,Media,Englewood,CO,no,no,no,yes,326.0,Gregory B. Maffei,https://www.libertymedia.com,LSXMA,15239.1,0.057798
589,Rush Enterprises,590,0.0,5126.1,241.4,7141.0,Retailing,New Braunfels,TX,no,no,no,yes,,W. M. Rush,https://www.rushenterprises.com,RUSHB,2788.5,0.033805
608,Ingles Markets,609,0.0,4987.9,249.7,18460.0,Food & Drug Stores,Black Mountain,NC,no,no,no,yes,,James W. Lanning,https://www.ingles-markets.com,IMKTA,1691.4,0.013527
617,Kelly Services,618,0.0,4909.7,156.1,7400.0,Business Services,Troy,MI,no,no,no,yes,,Peter W. Quigley,https://www.kellyservices.com,KELYA,856.0,0.021095

In [76]:
assert list(_["company"]) == ["Alphabet",
                              "Comcast",
                              "Qurate Retail",
                              "Liberty Media",
                              "Rush Enterprises",
                              "Ingles Markets",
                              "Kelly Services"]
total_points += 2

## Number of unique cities

Keep in mind that there are many cities with the same name in two different states, and Burlington and Columbus appear in three states.

In [77]:
# Add your implementation here.

df.groupby(['city','state']).size().size

419

In [78]:
assert _ == 419
total_points += 2

## Companies with the shortest name

In [79]:
# Add your implementation here.


s_length = df['company'].str.len()
bool_mask = (s_length == s_length.min())
df[bool_mask]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit per employee
58,HP,59,-3.0,63487.0,6503.0,51000.0,Technology,Palo Alto,CA,no,no,no,yes,56.0,Enrique J. Lores,www.hp.com,HPQ,33951.0,0.127510
101,3M,102,-6.0,35355.0,5921.0,95000.0,Chemicals,St. Paul,MN,no,no,no,yes,96.0,Michael F. Roman,www.3m.com,MMM,75190.0,0.062326
719,RH,720,0.0,3758.8,688.5,6100.0,Retailing,Corte Madera,CA,no,no,no,yes,,Gary G. Friedman,https://www.rh.com,RH,7079.0,0.112869
907,F5,908,0.0,2603.4,331.2,6429.0,Technology,Seattle,WA,no,no,no,yes,,Fran?ois Locoh-Donou,https://www.f5.com,FFIV,12691.2,0.051517

In [80]:
assert list(_["company"]) == ["HP", "3M", "RH", "F5"]
total_points += 2

## Companies whose CEO(s) has(-ve) the longest combined name

In [81]:
# Add your implementation here.



s_length = df['CEO'].str.len()
bool_mask = (s_length == s_length.max())
df[bool_mask]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit per employee
53,Energy Transfer,54,27.0,67417.0,5470.0,12558.0,Energy,Dallas,TX,no,no,no,yes,81.0,Thomas E. Long/Marshall S. McCrea III,www.energytransfer.com,ET,32182.0,0.435579
288,Markel,289,22.0,12846.4,2425.0,20300.0,Financials,Glen Allen,VA,no,no,no,yes,311.0,Thomas S. Gayner/Richard R. Whitt III,https://www.markel.com,MKL,20037.5,0.119458

In [82]:
assert list(_["company"]) == ["Energy Transfer", "Markel"]
total_points += 2

## All companies with a website URL that starts with `https://https://`

In [83]:
# Add your implementation here.

df[df['Website'].str.startswith('https://https://')]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap,profit per employee
309,Warner Bros. Discovery,310,-20.0,12191.0,1006.0,11000.0,Media,New York,NY,no,no,no,yes,290.0,David M. Zaslav,https://https://wbd.com,WBD,12700.5,0.091455
545,Under Armour,546,0.0,5683.5,360.1,12300.0,Apparel,Baltimore,MD,no,no,no,yes,,Colin Browne,https://https://about.underarmour.com,UAA,7712.4,0.029276
620,DoorDash,621,0.0,4888.0,-468.0,8600.0,Technology,San Francisco,CA,no,yes,no,no,,Tony Xu,https://https://ir.doordash.com,DASH,40830.3,-0.054419
642,Covetrus,643,0.0,4575.0,-54.0,4873.0,Health Care,Portland,ME,no,no,no,no,,Benjamin Wolin,https://https://covetrus.com/,CVET,2319.3,-0.011081
865,Univision Communciations,866,0.0,2841.0,133.7,NaN,Media,New York,NY,no,no,no,yes,,Wade C. Davis,https://https://corporate.televisaunivision.com,NaN,NaN,NaN
912,Pinterest,913,0.0,2578.0,316.4,3225.0,Technology,San Francisco,CA,no,yes,no,yes,,William J. Ready,https://https://investor.pinterestinc.com,PINS,16196.9,0.098109

In [84]:
assert list(_["company"]) == ["Warner Bros. Discovery",
                              "Under Armour",
                              "DoorDash",
                              "Covetrus",
                              "Univision Communciations",
                              "Pinterest"]
total_points += 2

In [85]:
print(f"Total points: {total_points}/50")

Total points: 50/50

## Submission Checklist

- [ ] Your name, today's date, and the assignment title in the designated cell.
- [ ] Your answers in the designated cells (if required).
- [ ] Your code runs and produces the expected output.
- [ ] The validity of your code is verified by autograders (if provided).
- [ ] Restart the kernel and run all cells (in the menubar, select *Kernel*, then *Restart Kernel and Run All Cells*).
- [ ] Save the notebook.
- [ ] Submit the assignment.